<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule App</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body ng-app="schedule" ng-controller="seScheduleCtrl as schedule">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="h1">Greetings, humans</div>
            <div class="h2">You'll find the available times for awesomeness below</div>
        </div>
    </div>
    <div class="bg-primary" ng-click="schedule.reset()">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3" ng-repeat="(day, openings) in workdays">
                <div class="weekday">
                    <h3>{{ day }}</h3>
                    <div class="opening" ng-repeat="opening in openings" ng-click="schedule.book(opening)">
                        <div class="panel" ng-class="{'panel-primary': !opening.booked, 'panel-danger': opening.booked}">
                            <div class="panel-heading">Time - {{ opening.time }}</div>
                            <div class="panel-body" ng-if="!opening.booked">Booked - Nah</div>
                            <div class="panel-body" ng-if="opening.booked">Booked - {{ opening.bookedBy }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="vendor/js/firebase.js"></script>
    <script src="vendor/js/angular.min.js"></script>
    <script src="vendor/js/angularfire.min.js"></script>
    <script src="public/js/app.js"></script>
    <script src="public/js/seScheduleCtrl.js"></script>
    <script src="public/js/seWorkdays.js"></script>
    <script src="public/js/seIdentity.js"></script>
    <script src="public/js/seFirebaseManager.js"></script>
</body>
</html>