html, body {
    font-family: 'Roboto', sans-serif;
}

.weekday {
    text-align: center;
}

.opening {
    height: 100px;
    width: 100%;

    cursor: pointer;
}

.details {
    font-size: 1.5em;
}

.panel > .panel-heading {
    transition: all 300ms ease;
}

.panel-primary:hover > .panel-heading {
    background-color: #2f68a2
}

.panel-danger > .panel-heading {
    background-color: #CF1438;
    color: white;
}

.panel-danger:hover > .panel-heading {
    background-color: #ae1337
}
